.popup_box_container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  display: none;
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

#imageContainer {
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 5px;
  float: left;
  display: none;
}

#tips {
  position: relative;
  width: 100%;
  float: left;
  display: none;
}

.print_container {
  position: relative;
  margin: 20px auto;
  min-width: 980px;
  width: 980px;
  height: auto;
  background-color: red;
}

.a4Container {
  position: relative;
  float: left;
  width: 940px;
  height: 1329px;
  margin: 10px 0px;
  background: white;
}

.a4Container #header {
  position: relative;
  margin: 10px auto;
  width: 20%;
  height: 5%;
}

.a4Container #header img {
  width: 100%;
  height: auto;
}

.a4Container #content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 85%;
  color: black;
  font-size: 16px;
  text-align: center;
  text-align: left;
}

.a4Container #content #title {
  position: relative;
  float: left;
  width: 94%;
  height: auto;
  margin: 10px 3%;
}

.a4Container #content #time {
  position: relative;
  float: left;
  width: 94%;
  height: auto;
  margin: 10px 3%;
}

.a4Container #content #item_pic {
  position: relative;
  float: left;
  width: 48%;
  height: auto;
  margin: 5px 3% 3% 3%;
}

.a4Container #content .quote {
  width: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.a4Container #content #des {
  position: relative;
  color: black;
  float: left;
  width: 94%;
  height: auto;
  margin: 10px 3%;
  font-size: 16px;
  text-align: left;
}

.a4Container .footer {
  position: relative;
  margin: 0 auto;
  width: 70%;
  height: 5%;
}

.popup_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
  min-height: 200px;
  max-height: 90%;
  max-width: 800px;
  overflow: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #6c6f71;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  padding: 20px;
  overflow: hidden;
}

.popup_box .input {
  box-sizing: border-box;
  width: 48.6%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0 10px;
  padding-bottom: 15px;
}

.popup_box .input label {
  width: 100%;
}

.popup_box .input select, .popup_box .input input {
  width: 100%;
}

.popup_box h1 {
  color: #67532F;
}

.popup_box .closeBtn {
  right: 7px;
  top: 7px;
}

.popup_box label, .popup_box select, .popup_box input {
  width: 100%;
}

.popup_box .tips {
  position: relative;
  float: left;
  width: 50%;
  margin-top: 29px;
}

.closeBtnPrint {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 19px;
  height: 18px;
  cursor: pointer;
  background: url("../images/close.png") no-repeat;
}

.popup_big {
  min-height: 600px;
  min-width: 980px;
}

.popup_big input, .popup_big label {
  width: auto;
}

.popup_big .closeBtn {
  top: 13px;
  right: 13px;
}

.popup_big #tabletBG {
  float: left;
  width: 100%;
  height: 641px;
  background-image: url("../images/samsung_tab2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.popup_big #tabletBG #appBGContainer {
  position: absolute;
  width: 795px;
  height: 498px;
  margin: 0 0;
  top: 116px;
  left: 93px;
}

.popup_big #tabletBG #appBGContainer #appBG {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/general_item_base.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.popup_big #tabletBG #appBGContainer #dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/dimmer.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.popup_big #tabletBG #appBGContainer #itemImage {
  position: absolute;
  top: 68px;
  left: 302px;
  width: 471px;
  height: 362px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.popup_big #tabletBG #appBGContainer #itemImage.subcat {
  top: 95px;
  left: 305px;
  width: 466px;
  height: 94px;
}

.popup_big #tabletBG #appBGContainer #overlayBox {
  position: absolute;
  top: 68px;
  left: 382px;
  width: 391px;
  height: 362px;
  background-color: rgba(0, 0, 0, 0.55);
}

.popup_big #tabletBG #appBGContainer #overlayBox1 {
  position: absolute;
  top: 61px;
  left: 0;
  width: 42px;
  height: 86%;
  background-color: rgba(0, 0, 0, 0.55);
}

.popup_big #tabletBG #appBGContainer #overlayBox1.subcat {
  top: 35px;
  width: 42px;
  height: 93%;
}

.popup_big #tabletBG #appBGContainer #overlayBox1.food {
  top: 203px;
  width: 294px;
  height: 58%;
}

.popup_big #tabletBG #appBGContainer #overlayBox1.foodDetail {
  top: 35px;
  width: 214px;
  height: 93%;
}

.popup_big #tabletBG #appBGContainer #overlayBox2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 61px;
  background-color: rgba(0, 0, 0, 0.55);
}

.popup_big #tabletBG #appBGContainer #overlayBox2.subcat {
  height: 88px;
}

.popup_big #tabletBG #appBGContainer #overlayBox2.food {
  height: 203px;
}

.popup_big #tabletBG #appBGContainer #overlayBox2.foodDetail {
  height: 35px;
}

.popup_big #tabletBG #appBGContainer #overlayBox3 {
  position: absolute;
  top: 61px;
  left: 253px;
  width: 38px;
  height: 392px;
  background-color: rgba(0, 0, 0, 0.55);
}

.popup_big #tabletBG #appBGContainer #overlayBox3.subcat {
  top: 88px;
  width: 43px;
  height: 392px;
}

.popup_big #tabletBG #appBGContainer #overlayBox3.food {
  top: 35px;
  left: 783px;
  width: 26px;
  height: 435.5px;
}

.popup_big #tabletBG #appBGContainer #overlayBox3.foodDetail {
  top: 35px;
  left: 588px;
  width: 207px;
  height: 432px;
}

.popup_big #tabletBG #appBGContainer #overlayBox4 {
  position: absolute;
  top: 118px;
  left: 42px;
  width: 211px;
  height: 375px;
  background-color: rgba(0, 0, 0, 0.55);
}

.popup_big #tabletBG #appBGContainer #overlayBox4.subcat {
  top: 149px;
  left: 42px;
  width: 211px;
  height: 345px;
}

.popup_big #tabletBG #appBGContainer #overlayBox4.food {
  top: 251px;
  left: 294px;
  width: 489px;
  height: 215px;
}

.popup_big #tabletBG #appBGContainer #overlayBox4.foodDetail {
  width: 0px;
  height: 0px;
}

.popup_big #tabletBG #appBGContainer #overlayBox5 {
  position: absolute;
  top: 441px;
  left: 291px;
  width: 504px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.55);
}

.popup_big #tabletBG #appBGContainer #overlayBox5.subcat {
  top: 91px;
  left: 778px;
  width: 18px;
  height: 362px;
}

.popup_big #tabletBG #appBGContainer #overlayBox5.food {
  width: 0px;
  height: 0px;
}

.popup_big #tabletBG #appBGContainer #overlayBox5.foodDetail {
  width: 0px;
  height: 0px;
}

.popup_big #tabletBG #appBGContainer #overlayBox6 {
  position: absolute;
  top: 59px;
  left: 785px;
  width: 11px;
  height: 382px;
  background-color: rgba(0, 0, 0, 0.55);
}

.popup_big #tabletBG #appBGContainer #overlayBox6.subcat {
  top: 194px;
  left: 296px;
  width: 484px;
  height: 266px;
}

.popup_big #tabletBG #appBGContainer #overlayBox6.food {
  width: 0px;
  height: 0px;
}

.popup_big #tabletBG #appBGContainer #overlayBox6.foodDetail {
  width: 0px;
  height: 0px;
}

.popup_big #tabletBG #appBGContainer #arrowBtn {
  position: absolute;
  top: 210px;
  left: 354px;
  width: 28px;
}

.popup_big #tabletBG #appBGContainer #zoom_container {
  position: absolute;
  top: 73px;
  left: 686px;
}

.popup_big #tabletBG #appBGContainer #zoomInBtn {
  flaot: left;
  margin-left: -2px;
  position: relative;
  width: 40px;
}

.popup_big #tabletBG #appBGContainer #zoomOutBtn {
  flaot: left;
  margin-right: -3px;
  position: relative;
  width: 40px;
}

.popup_big #tabletBG #appBGContainer #description_text, .popup_big #tabletBG #appBGContainer #itemTitle, .popup_big #tabletBG #appBGContainer #parentTitle {
  color: white;
}

.popup_big #tabletBG #appBGContainer #description_text_container {
  position: absolute;
  font-size: 16px;
  top: 103px;
  left: 382px;
  width: 391px;
  height: 326px;
  padding: 10px;
  overflow: hidden;
}

.popup_big #tabletBG #appBGContainer #description_text_container #description_text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  padding-right: 20px;
  right: -18px;
  overflow: auto;
}

.popup_big #tabletBG #appBGContainer #itemTitle {
  position: absolute;
  top: 64px;
  left: 47px;
  width: 201px;
  height: 51px;
  vertical-align: middle;
  overflow: hidden;
  font-size: 15px;
}

.popup_big #tabletBG #appBGContainer #itemTitle #itemTitleText {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
}

.popup_big #tabletBG #appBGContainer #itemTitle.subcat {
  top: 94px;
}

.popup_big #tabletBG #appBGContainer #itemTitle.food {
  top: 207px;
  left: 310px;
  width: 367px;
  height: 38px;
}

.popup_big #tabletBG #appBGContainer #parentTitle {
  position: absolute;
  top: 5px;
  left: 71px;
  width: 251px;
  height: 31px;
  overflow: hidden;
  font-size: 18px;
}

.popup_big #tabletBG #appBGContainer #foodText {
  position: absolute;
  cursor: pointer;
  top: 217px;
  left: 310px;
  width: 367px;
  height: 18px;
  overflow: hidden;
  color: white;
}

.popup_big #tabletBG #appBGContainer #priceText {
  position: absolute;
  cursor: pointer;
  top: 217px;
  left: 690px;
  width: 67px;
  height: 18px;
  color: white;
}

.popup_big #tabletBG #appBGContainer #greyPopupBox {
  position: absolute;
  color: white;
  top: 35px;
  left: 214px;
  width: 374px;
  height: 430px;
  font-size: 14px;
  background: #646464;
  border-radius: 5px;
}

.popup_big #tabletBG #appBGContainer #greyPopupBox #closeBtn {
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  width: 25px;
  height: 24px;
  cursor: pointer;
}

.popup_big #tabletBG #appBGContainer #greyPopupBox #title {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  height: auto;
  margin-top: 10px;
}

.popup_big #tabletBG #appBGContainer #greyPopupBox #price {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  height: auto;
}

.popup_big #tabletBG #appBGContainer #greyPopupBox #description {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin: 30px 0px;
  padding: 10px;
}

.popup_big #optionsArea {
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
  width: 100%;
  height: auto;
  float: left;
}

.popup_big #optionsArea #imageText, .popup_big #optionsArea #desText, .popup_big #optionsArea #highlightText, .popup_big #optionsArea #descriptionOption, .popup_big #optionsArea #imageOption, .popup_big #optionsArea #highlightOption {
  float: left;
}

.popup_big #optionsArea #imageText, .popup_big #optionsArea #desText, .popup_big #optionsArea #highlightText {
  margin-right: 10px;
}

.photo_box #head {
  position: absolute;
  width: 99%;
  height: 60px;
  left: 0px;
  top: 10px;
  padding: 0 10px;
}

.photo_box #middle {
  margin-top: 70px;
  margin-bottom: 70px;
  max-height: 600px;
  position: relative;
  width: 100%;
  float: left;
}

.photo_box #foot {
  position: absolute;
  width: 97%;
  height: 60px;
  bottom: 10px;
  left: 0px;
}

.addKey_box {
  overflow-y: scroll;
}

.addKey_box #head {
  width: 96%;
  height: auto;
  left: 0px;
  padding: 0 0px;
}

.addKey_box #middle {
  margin-top: 10px;
  margin-bottom: 70px;
  position: relative;
  width: 100%;
  float: left;
}

.addKey_box #foot {
  position: relative;
  width: 100%;
  height: 60px;
  bottom: 10px;
  left: 0px;
  float: left;
}

#signInContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #eee;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 2000;
  overflow: block;
}

.signIn_box {
  background: #FFF;
  overflow: hidden;
  font-family: 'Open Sans', Helvetica,"Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5em;
}

.signIn_box #head {
  width: 96%;
  height: 0px;
  left: 0px;
  padding: 0 10px;
}

.signIn_box #middle {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  float: left;
}

.signIn_box #foot {
  position: relative;
  width: 100%;
  height: 60px;
  bottom: 10px;
  left: 0px;
  float: left;
}

.signIn_box input {
  margin: 20px 0;
}

.signIn_box #signInBtn {
  background: #37addf;
}

.signIn_box #signInBtn:hover {
  background: deepskyblue;
}

.signIn_box #warning {
  color: red;
}

.menuContainer {
  position: relative;
  width: 100%;
  height: auto;
}

.menuContainer .menuItem {
  cursor: default;
  float: left;
  margin: 6px;
  color: #d6d6d6;
  border-bottom: 4px solid #d6d6d6;
}

.menuContainer .menuItem:hover {
  color: black;
}

.menuContainer .focus {
  color: #A89676;
  border-bottom: 4px solid #A89676;
}

.menuContainer .focus:hover {
  color: #A89676;
}

.yes_no #msg {
  position: relative;
  width: 100%;
  text-align: center;
  color: darkslategrey;
}

.yes_no .save_cancel_container {
  position: relative;
  bottom: 0;
  margin-bottom: 10px;
  margin-top: 42px;
  height: auto;
}

.yes_no .save_cancel_container #cancel_btn {
  position: relative;
  background: #926d6d;
  float: left;
  width: 70px;
}

.yes_no .save_cancel_container #confirm_btn {
  position: relative;
  background: #37addf;
  float: right;
  width: auto;
}
